:host {
  display: flex;
  justify-items: flex-start;
  flex-direction: row;

  .row {
    padding: 30px;
  }

  p {
    position: relative;
    max-width: 600px;

    color: #ffffff;
  }

  canvas {
    position: absolute;
    right: 30px;
    top: 30px;
  }

  button {
    left: 30px;
    top: 30px;

    padding: 10px 15px;

    font-size: 13px;
    text-transform: uppercase;
  }

  .message {
    display: block;
    width: 400px;
    margin-top: 10px;

    line-height: 22px;
    font-family: monospace;

    color: #22bb22;
  }
}
